*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
.groceryItem { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding:5px 40px;
    margin-top:5px;
}
.title {
    color:red;
    font-size:20px;
}
.removeBtn {
    background-color:rgb(247, 111, 57);
    width: 15%;
    color: white;   
    border-radius: 15px;
    border: none;
}